[submodule "DMH-Morpher-PANEL/Libraries/SynthStuff"]
	path = DMH-Morpher-PANEL/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
[submodule "DMH-Morpher-PANEL-10/Libraries/SynthStuff"]
	path = DMH-Morpher-PANEL-10/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
